.main-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1440px;
}
.article-layout-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 1140px;
  padding-top: 60px;
  padding-bottom: 50px;
}
.article-container {
  padding-right: 29px;
  padding-left: 29px;
}
.header-title {
  margin: 0;
  font: 900 60px Roboto, sans-serif;
  margin-bottom: 30px;
}
.article-content-text-style {
  font: 400 20px/24px Roboto, sans-serif;
  margin-bottom: 30px;
}
.article-intro-text {
  font: 400 20px/24px Roboto, sans-serif;
}
.content-container {
  padding: 25px 44px;
  background: #f1f1f1;
  border-radius: 10px;
}
.main-heading-text-style {
  margin: 0;
  font: 700 44px Roboto, sans-serif;
  margin-bottom: 20px;
}
.flex-container-with-description {
  display: flex;
}
.section-description-container {
  margin-bottom: 10px;
}
.section-description-text-style {
  margin: 0;
  font: 400 20px Roboto, sans-serif;
  color: #02535f;
}
.hierarchical-text-container2 {
  padding-right: 29px;
  padding-left: 29px;
}
.hierarchical-text-container1 {
  flex: 0 0 auto;
  margin-bottom: 30px;
}
.important-text-heading {
  margin: 0;
  font: 900 36px/43px Roboto, sans-serif;
  margin-bottom: 30px;
}
.important-message-container1 {
  display: flex;
}
.important-text-container2 {
  height: 415px;
  margin-right: 29px;
}
.important-message-with-margin-from-previous {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
  color: black;
  text-align: left;
  white-space: pre-wrap;
}
.important-message-with-margin-top {
  margin-bottom: 30px;
}
.important-text-with-margin-direction {
  font: 700 20px/24px Roboto, sans-serif;
}
.important-text-with-margin-explanation {
  font: 400 20px/24px Roboto, sans-serif;
}
.important-note-text-style1 {
  font: italic 400 20px/24px Roboto, sans-serif;
}
.inner-block-padding-styles {
  display: flex;
}
.inner-content-with-padding {
  margin-bottom: 30px;
  font: 400 20px/24px Roboto, sans-serif;
}
.inner-padding-text-block {
  margin-right: 39px;
}
.content-block-with-image {
  height: 279px;
}
.hierarchical-text-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-right: 28px;
  padding-left: 29px;
}
.hero-title {
  margin: 0;
  font: 900 36px/43px Roboto, sans-serif;
}
.text-block-style {
  font: 400 20px/24px Roboto, sans-serif;
}
.image-container-with-text {
  align-self: center;
}
.important-note-text-style {
  margin: 0;
  font: 400 20px Roboto, sans-serif;
}
.important-text-container {
  border: 1px solid black;
}
.important-text-container1 {
  height: 427px;
}
.important-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 78px;
  padding-left: 29px;
}
.important-text-divider {
  color: #5e5e5e;
}
.nested-content-text-style {
  align-self: center;
  margin: 0;
  margin-right: -190px;
  font: 400 20px Roboto, sans-serif;
}
.image-container-wide {
  align-self: center;
}
.recipe-layout-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-right: 29px;
  padding-left: 29px;
}
.header-title-bold {
  align-self: center;
  font: 900 36px Roboto, sans-serif;
}
.recipe-description-text-style {
  align-self: center;
  padding: 0;
  margin-left: -32px;
  font: 400 20px Roboto, sans-serif;
}
.image-container-with-text3 {
  align-self: center;
}
.image-container-with-text5 {
  align-self: center;
}
.full-bleed-image {
  display: block;
  height: 528px;
}
.image-cover-style {
  height: 530px;
}
.recipe-description-text-style1 {
  align-self: center;
  margin-left: -177px;
  font: 400 20px Roboto, sans-serif;
}
.image-container-with-text2 {
  align-self: center;
}
.image-card-styles {
  align-self: center;
}
.image-container-with-text4 {
  align-self: center;
}
.summary-container {
  box-sizing: border-box;
  padding: 25px 44px;
  background: #f1f1f1;
  border-radius: 10px;
}
.text-block {
  padding: 0;
  margin: 0;
  font: 400 20px Roboto, sans-serif;
  color: black;
  white-space: pre-wrap;
}
.text-margin-top-style {
  margin-bottom: 10px;
}